<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>NXTPTT</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>EPTTAPNsEnvironment</key>
	<string>$(EPTT_APNS_ENVIRONMENT)</string>
	<key>EPTTCloudContainer</key>
	<string>iCloud.$(EPTT_BUNDLE_ID)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>NXTPTT uses the microphone while you hold the talk button.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Michroma-Regular.ttf</string>
		<string>Exo2-Medium.ttf</string>
		<string>Exo2-SemiBold.ttf</string>
		<string>Exo2-Bold.ttf</string>
		<string>Hind-Regular.ttf</string>
		<string>Hind-Medium.ttf</string>
		<string>Hind-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WKApplication</key>
	<true/>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>$(EPTT_BUNDLE_ID)</string>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<false/>
</dict>
</plist>
